:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
}

.background {
    background-color: var(--MistyRose);
}

.textoLogin{
    font-weight: bold !important;
}

.imgLogin{
   background-image: url('https://i.pinimg.com/564x/bc/9e/5b/bc9e5b38c49ed58fcb8483133d1b4e9c.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonLogar{
    background-color: var(--MediumVioletRed) !important;
}

.buttonLogar:hover{
    background-color: var(--LighPink) !important;
}