:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
    --Pinksh: #fff3f4;
}

.backgroundLogin{
    background-color: var(--Pinksh);
    overflow-x: hidden;
}

.formularioLogin{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 70vh;
    padding-block: 3rem;
}


.textoLogin{
    color: var(--Crimson) !important;
}

.textoCadastrar{
    color: var(--Crimson) !important;
    font-weight: bolder !important;
}

.textoCadastrar:hover{
    color: var(--MediumVioletRed) !important;
}

.imgLogin{
    background-image: url('/src/assets/img/1.png');
    min-height: 100vh;
    background-repeat: repeat;
    background-size: 20%;
}

@media screen and (min-width: 350px) and (max-width: 1000px){
    .imgLogin{
        min-height: 0vh;
    }
}

.buttonLogar{
    background-color: var(--Crimson)!important;
    color: var(--LighPink) !important;
}

.buttonLogar:hover{
    background-color: var(--LighPink)!important;
    color: var(--MediumVioletRed) !important;
}

.textoC{
    display: flex;
}

@media screen and (min-width: 350px) and (max-width: 1300px){
    .textoC{
        flex-direction: column;
    }
}

