:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
  }
  
  .buttonTema{
    border-color: var(--MistyRose) !important;
    background-color: var(--MediumVioletRed) !important;
    color: var(--MistyRose) !important;
  }

  .buttonTema:hover{
    border-color: var(--MediumVioletRed) !important;
    color:var(--MediumVioletRed) !important;
    background-color: var(--LighPink) !important;
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -72px 0 var(--MediumVioletRed) inset;
    }
    100% {
      box-shadow: 48px 0 var(--LighPink) inset;
    }
  }