:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
  }
  
  .buttonTabP{
    border-color: var(--MistyRose) !important;
    background-color: var(--MediumVioletRed) !important;
    color: var(--MistyRose) !important;
  }

  .buttonTabP:hover{
    border-color: var(--MediumVioletRed) !important;
    color:var(--MediumVioletRed) !important;
    background-color: var(--LighPink) !important;
  }