:root{
  --Crimson: #DC143C;
  --MediumVioletRed: #C71585;
  --LighPink: #FFB6C1;
  --MistyRose: #FFE4E1;
}

.container {
  background-color: var(--Crimson);
}

.texto {
  color: white !important;
  font-weight: "bold" !important;
}

.buttonHome{
  border-color: var(--LighPink) !important;
  background-color: var(--MediumVioletRed) !important;
  color: var(--LighPink) !important;
}

.buttonHome:hover{
  border-color: var(--MediumVioletRed) !important;
  color:var(--MediumVioletRed) !important;
  background-color: var(--LighPink) !important;
}

.fotoHome{
  width: max(350px, 65%);
  margin: 0 auto;
  display: block;
  transform: rotateY(180deg);
}

.postagens {
  background-color: white !important;
}