:root{
  --Crimson: #DC143C;
  --MediumVioletRed: #C71585;
  --LighPink: #FFB6C1;
  --MistyRose: #FFE4E1;
  --Pinksh: #fff3f4;
}

.container {
  background-color: var(--Crimson);
}

.texto {
  color: var(--Pinksh) !important;
  font-weight: "bold" !important;
}

.buttonHome{
  border-color: var(--Pinksh) !important;
  background-color: var(--LighPink)!important;
  color: var(--Crimson) !important;
}

.buttonHome:hover{
  border-color: var(--Crimson) !important;
  color:var(--MediumVioletRed) !important;
  background-color: var(--Pinksh) !important;
}

.fotoHome{
  background-image: url('https://i.pinimg.com/564x/7a/e4/20/7ae420c031467f08ca90a8553960ea3a.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
}

.postagens {
  background-color: white !important;
}