:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
  }

  .fundo {
    background-color: var(--Crimson) !important;
  }

  .buttonPostagem{
    border-color: var(--MistyRose) !important;
    background-color: var(--MediumVioletRed) !important;
    color: var(--MistyRose) !important;
  }

  .buttonPostagem:hover{
    border-color: var(--MediumVioletRed) !important;
    color:var(--MediumVioletRed) !important;
    background-color: var(--LighPink) !important;
  }
