:root {
  --Crimson: #dc143c;
  --MediumVioletRed: #c71585;
  --LighPink: #ffb6c1;
  --MistyRose: #ffe4e1;
  --Pinksh: #fff3f4;
}

.gridCard {
  display: flex;
  padding: 24px;
  width: 100%;
  text-align: center;
}

.tmCards{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:start;

}

.postTitulo {
  color: var(--MediumVioletRed);
  font-weight: 600 !important;
}

.postTexto {
  font-weight: bold !important;
}

.buttonPostagem {
  border-color: var(--Pinksh) !important;
  background-color: var(--LighPink) !important;
  color: var(--Crimson) !important;
}

.bttnPostagem{
  display: flex;
  justify-content: center;
}

.buttonPostagem:hover {
  border-color: var(--Crimson) !important;
  color: var(--MediumVioletRed) !important;
  background-color: var(--Pinksh) !important;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: -72px 0 #fff inset;
  }
  100% {
    box-shadow: 48px 0 #fff inset;
  }
}
