:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
    --Pinksh: #fff3f4;
  }
  

.cursor{
    cursor: pointer;
}

.btnModal{
    border-color: var(--Pinksh) !important;
    background-color: var(--LighPink)!important;
    color: var(--Crimson) !important;
}

.btnModal:hover{
    border-color: var(--Crimson) !important;
    color:var(--MediumVioletRed) !important;
    background-color: var(--Pinksh) !important;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: var(--Pinksh);
    width: 45vw;
    border: 3px solid var(--LighPink);
    box-shadow: 5px 3px 10px var(--Crimson);
    border-radius: 1rem;
}