:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

