:root{
    --color-Crimson: #DC143C;
    --color-MediumVioletRed: #C71585;
    --color-LighPink: #FFB6C1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }