:root{
    --Crimson: #DC143C;
    --MediumVioletRed: #C71585;
    --LighPink: #FFB6C1;
    --MistyRose: #FFE4E1;
    
  }

.textoCadastro {
    align-items: center;
    font-weight: bold;
}

.formTema{
   display: flex !important;
   flex-direction: column;
   justify-content: center;
   margin: 0 auto;
}

.imgCT{
 min-height: 100vh;
}

.buttonTema{
    border-color: var(--MistyRose) !important;
    background-color: var(--MediumVioletRed) !important;
    color: none !important;
}

.buttonTema:hover{
    border-color: var(--MediumVioletRed) !important;
    color:var(--MediumVioletRed) !important;
    background-color: var(--LighPink) !important;
}